footer.footer
    .container
        .row
            .col-10.offset-1
                p Con el apoyo de:

            .col-10.offset-1.footer--logos
                img.img-fluid(src="img/icons/logo-novartis.png", alt="")
                img.img-fluid(src="img/icons/logo-topdoctors.png", alt="")
                img.img-fluid(src="img/icons/logo-amcemig.png", alt="")

            .col-10.offset-1.footer--legales
                a(href="#!") aviso de privacidad
                span /
                a(href="#!") términos y condiciones

                h6 sujeto a cambios sin previo aviso
