
head
    meta(charset='utf-8')
    link(rel="shortcut icon", href="img/icons/logo-migrana.ico", type="image/x-icon")
    title Migraña
    link(rel="stylesheet", href="css/styles.min.css")
    script(src="js/scripts.min.js", async defer)

    meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no")
    meta(property='og:title' content='¡MIGRAÑA  y dolor de cabeza, NO son lo mismo!')
    meta(property='og:description' content='Conoce las realidades de la enfermedad y ayúdanos a combatir la desinformación. #CadaDíaCuenta')
    meta(property='og:image' content='https://espaciomigrana.com.mx/img/banners/Migra%C3%B1a_SocialShare_01.png')
    meta(property="og:site_name" content="https://espaciomigrana.com.mx/")
    meta(property='og:type' content='article')

    //  Twitter Card data 
    meta(name='twitter:card' content='summary_large_image')
    meta(name='twitter:site' content='https://espaciomigrana.com.mx/')
    meta(name='twitter:title' content='¡MIGRAÑA  y dolor de cabeza, NO son lo mismo!')
    meta(name='twitter:description' content='Conoce las realidades de la enfermedad y ayúdanos a combatir la desinformación. #CadaDíaCuenta')
    meta(name='twitter:image' content='https://espaciomigrana.com.mx/img/banners/Migra%C3%B1a_SocialShare_01.png')

    script(type='text/javascript' async src='https://www.google-analytics.com/analytics.js')
    script(async src='https://www.googletagmanager.com/gtm.js?id=GTM-T5NN8D4')
    
    //- Google Tag Manager
    script.
        (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
        new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
        'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
        })(window,document,'script','dataLayer','GTM-T5NN8D4');
        
  