header.header
    .container
        .row
            .col-6.col-lg-2.header--logo
                

            .col-6.col-lg-10.header--navegacion
                nav.navbar-expand-lg
                    .btn(data-toggle='collapse' data-target='#navbarNav' aria-controls='navbarNav' aria-expanded='false' aria-label='Toggle navigation')
                        
                    div.collapse.navbar-collapse#navbarNav
                        ul
                        
                            li.li-hero Inicio
                        
                            li.li-estar Realidad
                        
                            li.li-estigmas Estigmas
                        
                            li.li-recorrido Recorrido
                        
                            li.li-dia CadaDíaCuenta
                        
                            li.li-busqueda
                                button.btn-blanco CONSULTAS
                                