header.header
    .container
        .row
            .col-6.col-lg-1.header--logo#header--logo
                

            .col-6.col-lg-11.header--navegacion
                nav.navbar-expand-lg
                    .btn(data-toggle='collapse' data-target='#navbarNav' aria-controls='navbarNav' aria-expanded='false' aria-label='Toggle navigation')
                        
                    div.collapse.navbar-collapse#navbarNav
                        ul
                        
                            li.li-hero#li-hero Inicio
                        
                            li.li-estar#li-estar Realidad
                        
                            li.li-estigmas#li-estigmas Estigmas
                        
                            li.li-recorrido#li-recorrido Recorrido
                        
                            li.li-dia#li-dia CadaDíaCuenta
                        
                            li.li-busqueda#li-busqueda
                                button.btn-blanco CONSULTAS
                                
                            li.li-video#li-video
                                img.img-fluid(src="img/icons/play.png", alt="")