h3{
    @extend %h3;
}

p{
    @extend %p;
}

.combo {
    @include combo;
}

.checkboxes{
    @include checkbox;
}

input[type=button]{
    @include boton-on;
}

.btn-blanco{
    @include boton-on;
    background: #fff;
    color: $azul;
    max-width: 120px;
    font-size:14px;
    min-height: 30px;
    margin: 10px 0;
}