h4{
    @extend %h4;
}

h3{
    @extend %h3;
}

p{
    @extend %p;
}



.combo {
    @include combo;
}

.checkboxes{
    @include checkbox;
}

input[type=button]{
    @include boton-on;
}

.btn-blanco{
    @include boton-on;
    background: #fff;
    color: $azul;
    max-width: 120px;
    font-size:14px;
    min-height: 30px;
    margin: 10px 0;
    transition: .3s ease-in-out all;

    &:hover{
        @include gradiente-azul;
        color: #fff;
    }
}

.modal{
    b{
        font-family: 'Conv_Muli-Bold';
    }

    .close{
        opacity: 1;

        span{
            color: #fff;
            font-size: 40px;
        }
    }

    &-content{
        padding-bottom: 60px;
        border: 0;

        &:before{
            content: "";
            width: 100%;
            height: 70px;
            position: absolute;
            top: 0;
            background: url("../img/icons/fondo-azul.png") no-repeat center -10px / 110% 70px #fff;
        }

        &:after{
            content: "";
            width: 100%;
            height: 50px;
            position: absolute;
            bottom: 0;
            background: url("../img/icons/fondo-azul.png") no-repeat center 10px / 110% 50px #fff;
        }

        ul{
            list-style:none;
            padding-left: 10px;

            li{
                margin-bottom: 15px;
                @extend %p;

                span{
                    color: $azul;
                }
            }
        }

        a{
            color: $azul;
        }

        h5{
            margin-bottom: 15px;
        }

        p{
            span{
              color: $azul;
            }
        }
       
    }

    &-header{
        padding: 0 15px;
        border-bottom: 0;
        z-index: 1;
        margin-bottom: 30px;
    }

    &-body{
        padding: 10px 30px;
    }

    &#terminosModal{

        .modal-content{
           

            &:before{
                background: url("../img/icons/fondo-morado.png") no-repeat center -10px / 110% 70px #fff;
            }
    
            &:after{
                background: url("../img/icons/fondo-morado.png") no-repeat center 10px / 110% 50px #fff;
            }
        }
    

        a{
            color: $rosa;
          }

        p{
            span{
              color: $rosa;
            }
        }
    }
}