include includes/head.pug

body.home
    include includes/header.pug

    section.home--hero
        .container-fluid
            .row
                .col-12
                    img.img-fluid.d-lg-none(src="img/banners/home.png", alt="")
                    img.img-fluid.d-none.d-lg-block(src="img/banners/home-d.jpg", alt="")

    section.home--imagina
        .container
            .row
                .col-10.offset-1.col-lg-12.offset-lg-0
                    h2 Imagina que un día
                        br 
                        |...

                    p las luces a tu alrededor se tornaran 
                        span 
                            |dolorosamente brillantes, 
                        |que el significado de las palabras 
                        span 
                            |perdiera cualquier sentido,
                        |y hasta la dulce risa de tu hijo 
                        span
                            |se volviera insoportable... 
                        
                    h4 sin que nadie pudiera comprenderlo ni ayudarte.


                    p Ahora imagina sentirte así por muchos días, y que se hiciera tan recurrente, que 
                        span 
                            |sólo tuvieras dos opciones 
                        |cuando quisieras hacer planes en tu vida:

    section.home--estar
        .container-fluid
            .row
                .col-12
                    div.owl-carousel.owl-theme#carrusel-estar
                        div.item
                            .home--estar__copy.col-9
                                h3 Estar presente
                                p Aunque sin saber en qué momento 
                                    u 
                                        |dejarás de ser tú,
                                    |  para 
                                    span
                                        |convertirte 
                                    |en esa persona intolerante, antipática e irritable, que sólo deja malos recuerdos y a la que 
                                    u
                                        |poco
                                    |  le importa 
                                    b
                                        |herir los sentimientos de nadie; 
                                    |o…

                        

                        div.item.home--estar--ausente
                            .home--estar__copy.home--estar__copy--ausente.col-10
                                h3 Estar ausente
                                p A fin de evitar mostrar ese rostro
                                    span
                                        |indeseable;
                                    |pero aceptando sacrificar tus sueños, alejarte de las personas que amas y
                                    u
                                        |encerrarte en un cuarto  
                                    |oscuro, hasta llegar el momento en que 
                                    u 
                                        |ya nadie pueda extrañarte.
                                

                    


    section.home--estadisticas
        .container
            .row
                .col-10.offset-1.col-lg-12.offset-lg-0      
                    p Esto es lo que se vive al padecer migraña; y no, 
                        b ¡no es igual al DOLOR DE CABEZA!

                .col-10.offset-1.col-lg-12.offset-lg-0.home--estadisticas--bloque-1
                    img.img-fluid.d-lg-none(src="img/banners/estadistica-1.png", alt="")
                    img.img-fluid.d-none.d-lg-block(src="img/banners/estadistica-1-d.png", alt="")

                .col-10.offset-1.col-lg-12.offset-lg-0.home--estadisticas--bullets
                    .row
                        .col-10.offset-1.col-lg-4.offset-lg-0
                            img.img-fluid(src="img/icons/icon-mex.png", alt="")
                            p 
                                span 20 millones
                                span de mexicanos
                                span padecen migraña

                        .col-10.offset-1.col-lg-4.offset-lg-0
                            img.img-fluid(src="img/icons/icon-mujeres.png", alt="")
                            p 
                                span En el 70%
                                span de los casos son
                                span mujeres
                                

                        .col-10.offset-1.col-lg-4.offset-lg-0
                            img.img-fluid(src="img/icons/icon-evolucion.png", alt="")
                            p 
                                span Es más común
                                span entre los
                                span 18 y 44 años


    section.home--estigmas
        .container
            .row
                .col-10.offset-1.col-lg-12.offset-lg-0
                    h2 Estigmas de la enfermedad
                    p Diferente al dolor de cabeza, la migraña llega a definir de tal forma a las personas, que es como vivir 
                        b 
                            |detrás del rostro de la enfermedad, 
                        |causando que quienes la padecen sean frecuentemente juzgados:


            .row
                .col-12.col-lg-10.offset-lg-1
                    div.owl-carousel.owl-theme#carrusel-estigmas
                        div.item
                            img.img-fluid(src="img/banners/quote1.png", alt="")

                        div.item
                            img.img-fluid(src="img/banners/quote2.png", alt="")

                        div.item
                            img.img-fluid(src="img/banners/quote3.png", alt="")

                        div.item
                            img.img-fluid(src="img/banners/quote4.png", alt="")

                        div.item
                            img.img-fluid(src="img/banners/quote5.png", alt="")

                        div.item
                            img.img-fluid(src="img/banners/quote6.png", alt="")
                        
            .row
                .col-10.offset-1.col-lg-12.offset-lg-0
                    p Es así que 
                        b 
                            |el 24% de ellos pierde su empleo
                        |y, al ser mensajes tan recurrentes, llegan a aceptar que padecen apenas de dolores de cabeza, sin buscar 
                        b 
                            |un verdadero diagnóstico para su enfermedad.


    section.home--recorrido
        .container
            .row
                .col-10.offset-1.col-lg-12.offset-lg-0
                    h2 Un largo recorrido
                  
            .row
                .col-12
                    div.owl-carousel.owl-theme#carrusel-recorrido
                        div.item
                            img.img-fluid(src="img/banners/recorrido1.png", alt="")

                        div.item
                            img.img-fluid(src="img/banners/recorrido2.png", alt="")

                        div.item
                            img.img-fluid(src="img/banners/recorrido3.png", alt="")

                        div.item
                            img.img-fluid(src="img/banners/recorrido4.png", alt="")

                        div.item
                            img.img-fluid(src="img/banners/recorrido5.png", alt="")

                        div.item
                            img.img-fluid(src="img/banners/recorrido6.png", alt="")

                        div.item
                            img.img-fluid(src="img/banners/recorrido7.png", alt="")

                        div.item
                            img.img-fluid(src="img/banners/recorrido8.png", alt="")

                        div.item
                            img.img-fluid(src="img/banners/recorrido9.png", alt="")
                        
            .row
                .col-10.offset-1.col-lg-12.offset-lg-0
                    p Se estima que en México 
                        b
                            |el 60% de las personas con migraña 
                        |aún no han sido diagnosticadas, y pueden pasar 
                        b 
                            |HASTA 20 AÑOS 
                        |antes de descubrir su enfermedad…  perdiendo así trabajo, familia, amigos y muchos sueños que ya nunca se podrán recuperar.

                    h4 Por eso, necesitamos tu ayuda...


    section.home--dia
        .container
            .row
                .col-10.offset-1.col-lg-12.offset-lg-0
                    h2 ¡Cada día cuenta!

            .row
                .col-10.offset-1.col-lg-6.offset-lg-0
                    .row
                        .col-12
                            p 
                                b 
                                    |Comparte el mensaje 
                                |y ayúdanos a combatir los prejuicios y la desinformación social.

                            p Con tu apoyo, lograremos que 
                                b 
                                    |más personas conozcan su padecimiento a tiempo,
                                |inicien el tratamiento correcto y recuperen esos días valiosos que se pierden… 
                                b 
                                    |detrás de la migraña.


                        .col-12.home--dia--redes
                            a(href="#!")
                                img.img-fluid(src="img/icons/icon-fb.png", alt="")

                            a(href="#!")
                                img.img-fluid(src="img/icons/icon-twitter.png", alt="")

                            a(href="#!")
                                img.img-fluid(src="img/icons/icon-share.png", alt="")

            
                .col-10.offset-1.col-lg-5.offset-lg-1.home--dia--feliz
                    p Compartir sólo te tomará un segundo y 
                        b 
                            |¡puede cambiar muchas vidas!

                    img.img-fluid(src="img/banners/back-felicidad.png", alt="")


    section.home--busqueda
        .container
            
            .row
                .col-10.offset-1.col-lg-12.offset-lg-0
                    p Ante la menor sospecha, es mejor actuar:
                    h3 ¡Encuentra un especialista!
            
            .row.home--busqueda--copy
                .col-10.offset-1 
                    p Con el apoyo de muchas asociaciones hemos creado este directorio de 
                        b
                            |NEURÓLOGOS ESPECIALISTAS EN MIGRAÑA 
                        |para ayudar a quienes la padecen a encontrar un diagnóstico y acceder a los 
                        span 
                            |últimos tratamientos en el control de la enfermedad.

            .row.home--busqueda--form
                .col-10.offset-1.col-lg-12.offset-lg-0
                    .combo
                        select
                            option(value selected disabled hidden) Selecciona tu estado
                            option(value="cdmx.com") CDMX
                            option(value="Edomex.com") Edomex
                            option(value="Aguascalientes.com") Aguascalientes

                    label.checkboxes(for="")
                        span He leído el 
                            a(href="#!") Aviso de Privacidad
                        input.checkbox#check-aviso(type="checkbox" )
                        div.checkmark
                    
                    label.checkboxes(for="")
                        span He leído los 
                                a(href="#!") Términos y Condiciones
                        input.checkbox#check-terminos(type="checkbox" )
                        div.checkmark

                    a
                        input(type="button", value="BUSCAR")



    section.home--final
        .container
            .row
                .col-10.offset-1.col-lg-12.offset-lg-0
                    p Porque sabemos que cuando se vive con migraña:

                    img.img-fluid(src="img/banners/doctor.png", alt="")

                    h4 #CadaDíaCuenta
                        span ¡Decídete a actuar!

    include includes/footer.pug
                                            