doctype
html(lang='es')
    include includes/head.pug

    body.home
        include includes/header.pug

        section.home--hero
            .container-fluid
                .row
                    .col-12
                        img.img-fluid.d-lg-none(src="img/banners/home.jpg", alt="")
                        img.img-fluid.d-none.d-lg-block(src="img/banners/home-d.jpg", alt="")

        section.home--imagina
            .container
                .row
                    .col-10.offset-1.col-lg-12.offset-lg-0
                        h2 Imagina que un día
                            br 
                            |...

                        p las luces a tu alrededor se tornaran 
                            span 
                                |dolorosamente brillantes, 
                            |que el significado de las palabras 
                            span 
                                |perdiera cualquier sentido, 
                            |  y hasta la dulce risa de tu hijo 
                            span
                                |se volviera insoportable... 

                        h4 sin que nadie pudiera comprenderlo ni ayudarte.


                        p Ahora imagina sentirte así por muchos días, y que se hiciera tan recurrente, que 
                            span 
                                |sólo tuvieras dos opciones 
                            |cuando quisieras hacer planes en tu vida:

        section.home--estar
            .container-fluid
                .row
                    .col-12
                        div.owl-carousel.owl-theme#carrusel-estar
                            div.item
                                .home--estar__copy.col-9
                                    h3 Estar presente
                                    p Aunque sin saber en qué momento 
                                        u 
                                            |dejarás de ser tú,
                                        |  para 
                                        span
                                            |convertirte 
                                        |en esa persona intolerante, antipática e irritable, que sólo deja malos recuerdos y a la que 
                                        u
                                            |poco
                                        |  le importa 
                                        b
                                            |herir los sentimientos de nadie; 
                                        |o…



                            div.item.home--estar--ausente
                                .home--estar__copy.home--estar__copy--ausente.col-10
                                    h3 Estar ausente
                                    p A fin de evitar mostrar ese rostro
                                        span
                                            |indeseable;
                                        |pero aceptando sacrificar tus sueños, alejarte de las personas que amas y
                                        u
                                            |encerrarte en un cuarto  
                                        |oscuro, hasta llegar el momento en que 
                                        u 
                                            |ya nadie pueda extrañarte.





        section.home--estadisticas
            .container
                .row
                    .col-10.offset-1.col-lg-12.offset-lg-0      
                        p Esto es lo que se vive al padecer migraña; y no, 
                            b ¡no es igual al DOLOR DE CABEZA!

                    .col-10.offset-1.col-lg-12.offset-lg-0.home--estadisticas--bloque-1
                        img.img-fluid.d-lg-none(src="img/banners/estadistica-1.png", alt="")
                        img.img-fluid.d-none.d-lg-block(src="img/banners/estadistica-1-d.png", alt="")

                    .col-10.offset-1.col-lg-12.offset-lg-0.home--estadisticas--bullets
                        .row
                            .col-10.offset-1.col-lg-4.offset-lg-0
                                img.img-fluid(src="img/icons/icon-mex.png", alt="")
                                p 
                                    span 20 millones
                                    span de mexicanos
                                    span padecen migraña

                            .col-10.offset-1.col-lg-4.offset-lg-0
                                img.img-fluid(src="img/icons/icon-mujeres.png", alt="")
                                p 
                                    span En el 70%
                                    span de los casos son
                                    span mujeres


                            .col-10.offset-1.col-lg-4.offset-lg-0
                                img.img-fluid(src="img/icons/icon-evolucion.png", alt="")
                                p 
                                    span Es más común
                                    span entre los
                                    span 18 y 44 años


        section.home--estigmas
            .container
                .row
                    .col-10.offset-1.col-lg-12.offset-lg-0
                        h2 Estigmas de la enfermedad
                        p Diferente al dolor de cabeza, la migraña llega a definir de tal forma a las personas, que es como vivir 
                            b 
                                |detrás del rostro de la enfermedad, 
                            |causando que quienes la padecen sean frecuentemente juzgados:


                .row
                    .col-12.col-lg-10.offset-lg-1
                        div.owl-carousel.owl-theme#carrusel-estigmas
                            div.item
                                img.img-fluid(src="img/banners/quote1.png", alt="")

                            div.item
                                img.img-fluid(src="img/banners/quote2.png", alt="")

                            div.item
                                img.img-fluid(src="img/banners/quote3.png", alt="")

                            div.item
                                img.img-fluid(src="img/banners/quote4.png", alt="")

                            div.item
                                img.img-fluid(src="img/banners/quote5.png", alt="")

                            div.item
                                img.img-fluid(src="img/banners/quote6.png", alt="")

                .row
                    .col-10.offset-1.col-lg-12.offset-lg-0
                        p Es así que 
                            b 
                                |el 24% de ellos pierde su empleo 
                            | y, al ser mensajes tan recurrentes, llegan a aceptar que padecen apenas de dolores de cabeza, sin buscar 
                            b 
                                |un verdadero diagnóstico para su enfermedad.


        section.home--recorrido
            .container
                .row
                    .col-10.offset-1.col-lg-12.offset-lg-0
                        h2 Un largo recorrido

                .row
                    .col-12
                        div.owl-carousel.owl-theme#carrusel-recorrido
                            div.item
                                img.img-fluid(src="img/banners/recorrido1.png", alt="")

                            div.item
                                img.img-fluid(src="img/banners/recorrido2.png", alt="")

                            div.item
                                img.img-fluid(src="img/banners/recorrido3.png", alt="")

                            div.item
                                img.img-fluid(src="img/banners/recorrido4.png", alt="")

                            div.item
                                img.img-fluid(src="img/banners/recorrido5.png", alt="")

                            div.item
                                img.img-fluid(src="img/banners/recorrido6.png", alt="")

                            div.item
                                img.img-fluid(src="img/banners/recorrido7.png", alt="")

                            div.item
                                img.img-fluid(src="img/banners/recorrido8.png", alt="")

                            div.item
                                img.img-fluid(src="img/banners/recorrido9.png", alt="")

                .row
                    .col-10.offset-1.col-lg-12.offset-lg-0
                        p Se estima que en México 
                            b
                                |el 60% de las personas con migraña 
                            |aún no han sido diagnosticadas, y pueden pasar 
                            b 
                                |HASTA 20 AÑOS 
                            |antes de descubrir su enfermedad…  perdiendo así trabajo, familia, amigos y muchos sueños que ya nunca se podrán recuperar.

                        h4 Por eso, necesitamos tu ayuda...


        section.home--dia
            .container
                .row
                    .col-10.offset-1.col-lg-12.offset-lg-0
                        h2 ¡Cada día cuenta!

                .row
                    .col-10.offset-1.col-lg-6.offset-lg-0
                        .row
                            .col-12
                                p 
                                    b 
                                        |Comparte el mensaje 
                                    |y ayúdanos a combatir los prejuicios y la desinformación social.

                                p Con tu apoyo, lograremos que 
                                    b 
                                        |más personas conozcan su padecimiento a tiempo, 
                                    |  inicien el tratamiento correcto y recuperen esos días valiosos que se pierden… 
                                    b 
                                        |detrás de la migraña.


                            .col-12.home--dia--redes
                                a(href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fdevelopers.facebook.com%2Fdocs%2Fplugins%2F&amp;src=sdkpreparse", target="_blank")
                                    img#btn-fb.img-fluid(src="img/icons/icon-fb.png", alt="")

                                a(href="https://twitter.com/intent/tweet?text=Hello%20world", target="_blank")
                                    img#btn-twitter.img-fluid(src="img/icons/icon-twitter.png", alt="")

                                a.home--dia--redes--share
                                    img#btn-share.img-fluid(src="img/icons/icon-share.png", alt="")   
                                    


                    .col-10.offset-1.col-lg-5.offset-lg-1.home--dia--feliz
                        p Compartir sólo te tomará un segundo y 
                            b 
                                |¡puede cambiar muchas vidas!

                        img.img-fluid(src="img/banners/back-felicidad.png", alt="")


        section.home--busqueda
            .container

                .row
                    .col-10.offset-1.col-lg-12.offset-lg-0
                        p Ante la menor sospecha, es mejor actuar:
                        h3 ¡Encuentra un especialista!

                .row.home--busqueda--copy
                    .col-10.offset-1.col-lg-6.offset-lg-0
                        p Con el apoyo de la Asociación Mexicana de Cefaleas y Migraña, hemos creado este directorio de 
                            b
                                |  NEURÓLOGOS ESPECIALISTAS EN MIGRAÑA 
                            |para ayudar a quienes la padecen a encontrar un diagnóstico y acceder a los 
                            span
                                |últimos tratamientos en el control de la enfermedad.

                            

                    .col-10.offset-1.col-lg-6.offset-lg-0.home--busqueda--form
                        .combo
                            select
                                option(value selected disabled hidden) Selecciona tu estado
                               
                                option#top-cdmx(value="https://www.topdoctors.mx/ciudad-de-mexico/neurologia/?utm_source=facebook&utm_medium=cpc&utm_campaign=Campana_Migrana_2020_LinkAd_bnn&utm_term=_ciudad_de_mexico") CDMX
                                
                                option#top-edomex(value="https://www.topdoctors.mx/edo-mexico/neurologia/?utm_source=facebook&utm_medium=cpc&utm_campaign=Campana_Migrana_2020_LinkAd_bnn&utm_term=_edo_mexico") Estado de México
                                
                                option#top-nvoleon(value="https://www.topdoctors.mx/nuevo-leon/neurologia/?utm_source=facebook&utm_medium=cpc&utm_campaign=Campana_Migrana_2020_LinkAd_bnn&utm_term=_nuevo_leon") Nuevo León
                                
                                option#top-jalisco(value="https://www.topdoctors.mx/jalisco/neurologia/?utm_source=facebook&utm_medium=cpc&utm_campaign=Campana_Migrana_2020_LinkAd_bnn&utm_term=_jalisco") Jalisco
                                
                                option#top-guanajuato(value="https://www.topdoctors.mx/guanajuato/neurologia/?utm_source=facebook&utm_medium=cpc&utm_campaign=Campana_Migrana_2020_LinkAd_bnn&utm_term=_guanajuato") Guanajuato


                        label.checkboxes(for="")
                            span He leído el 
                                a#check-aviso(data-toggle="modal" data-target="#legalesModal") Aviso de Privacidad
                            input.checkbox#check-aviso(type="checkbox" )
                            div.checkmark

                        label.checkboxes(for="")
                            span He leído 
                                a#check-terminos(data-toggle="modal" data-target="#terminosModal") Términos y Condiciones
                            input.checkbox#check-terminos(type="checkbox" )
                            div.checkmark

                    .col-10.offset-1
                        a
                            input.btn-on(type="button", value="BUSCAR")

                        .alert.alert-warning(role='alert') Elige un estado
    

        section.home--final
            .container
                .row
                    .col-10.offset-1.col-lg-12.offset-lg-0.home--final--col

                        .col-12.col-lg-6.home--final--copy
                            p Porque sabemos que cuando se vive con migraña:

                        .col-12.col-lg-6.home--final--img
                            img.img-fluid(src="img/banners/doctor.png", alt="")

                        h4 #CadaDíaCuenta
                            span ¡Decídete a actuar!


        .btn-doctors
            img(src="img/icons/directorio.png", alt="")


        include includes/footer.pug

        .modal.fade#legalesModal(tabindex='-1' role='dialog')
            .modal-dialog(role='document')
                .modal-content
                    .modal-header
                        button.close(type='button' data-dismiss='modal' aria-label='Close')
                            span(aria-hidden='true') ×
                    .modal-body
                        
                        h4 
                            b
                                |Aviso de Privacidad
                                
                        p Pacientes y Beneficiarios de los Servicios de la Salud

                        h5 
                            b
                                |Responsable del Tratamiento: 
                            
                        p |Los Responsables de recabar y dar tratamiento o utilizar los Datos Personales que usted nos proporcione son 
                        
                            span
                                |Novartis Farmacéutica, S.A. de C.V. 
                            |(en adelante “Novartis”) y/o 

                            span
                                |Sandoz, S.A. de C.V. 
                            |(en adelante “Sandoz”), ambos individualmente responsables de los datos que cada uno recabe.

                        p De forma adicional, informamos que aquellos terceros independientes a Novartis y/o Sandoz que operen programas fondeados por Novartis y/o Sandoz, recaban datos personales por cuenta propia, por lo que deben contar con su propio Aviso de Privacidad, mismos que podrán ser consultados a través del medio o en el lugar que cada uno señale.

                        h5  
                            b
                                |Domicilio del Responsable:

                        p Para efectos del presente, Novartis y Sandoz señalan como su domicilio el ubicado en Calzada de Tlalpan No. 1779 Col. San Diego Churubusco 04120, CDMX, México.

                        h5
                            b
                                |Finalidades del tratamiento:

                        p Los Datos Personales que Novartis o Sandoz recaben, serán tratados con base en a las siguientes finalidades:

                        p 
                            b
                                |1. Finalidades Primarias:
                            |(i) Para que usted pueda participar en, programas de pacientes y/o de investigación clínica; (ii) Para que usted pueda participar y/o colaborar en diversos eventos o foros relacionados con la salud, ya sea presenciales o digitales; (iii) Para integrar bases de datos acorde con las otras finalidades aquí descritas; (iv) Para cumplir con la legislación aplicable; (v) Para mantener la relación jurídica que pueda generarse; (vi) En algunos casos, Novartis o Sandoz podrán realizar las acciones que considere necesarias, a efecto de comprobar, directamente o a través de terceros, la veracidad de los datos y/o documentos proporcionados y; (vii) Permitirle el acceso a nuestras instalaciones.

                        p 
                            b
                                |2. Finalidades Secundarias. 
                            |Adicionalmente, se podrán tratar sus Datos Personales para: (i) Para invitarlo a participar en diferentes programas, eventos, foros y conferencias relacionados con la salud; (ii) para realizar análisis estadísticos, de generación de modelos de información y/o perfiles de comportamiento actual y predictivo (iii) participar en encuestas y: (iv) para dar seguimiento a los eventos adversos que hayan tenido que ser reportados conforme a la legislación aplicable.

                        h5 
                            b
                                |Datos Personales que podrán ser recabados y tratados:

                        p Las categorías de Datos Personales que le podrán ser requeridas para ser recabados y que están sujetas a tratamiento son: (i) Datos de identificación; (ii) Datos de contacto (en este caso solicitaremos un correo electrónico para simplificar su ejercicio de derechos A.R.C.O. descritos más adelante); (iii) Datos laborales; (iv) Datos académicos o profesionales; (vii) Datos migratorios; (viii) Datos patrimoniales y/o financieros (ix) Datos de salud, catalogados como sensibles (en los incisos viii y ix se le requerirá por separado su consentimiento expreso o expreso y por escrito según corresponda).

                        h5
                            b
                                |Medios para limitar el tratamiento de los Datos Personales recabados o revocar su consentimiento:

                        p Usted, o su representante legal debidamente acreditado, podrá en cualquier momento; a través del correo que previamente nos divulgó, enviado a la dirección 
                            a(href="mailto:datos.personales@novartis.com")
                                |datos.personales@novartis.com; 
                            |limitar el tratamiento de sus Datos Personales o, revocar su consentimiento para las finalidades secundarias.

                        p Para lo anterior, deberá indicar su nombre completo y especificar de forma clara y evidente los límites que requiera. Las acciones anteriores también podrá realizarlas presentando un escrito libre dirigido al oficial de protección de Datos Personales de Novartis y Sandoz y remitirlo a nuestras oficinas ubicadas en la dirección descrita en este documento. 

                        h5
                            b
                                |Transferencia de Datos Personales:

                        p Novartis y/o Sandoz podrán legalmente transferir sus Datos Personales, sin su consentimiento, a terceros mexicanos o extranjeros cuando la transferencia: (i) esté prevista en una Ley o Tratado de los que México sea parte; (ii) cuando sea necesaria para la prevención o el diagnóstico médico, la prestación de asistencia sanitaria, tratamiento médico o la gestión de servicios sanitarios; (iii) sea efectuada a sociedades controladoras, subsidiarias, matrices o afiliadas de Novartis o Sandoz, que operen bajo los mismos procesos y políticas internas; (iv) sea precisa para el mantenimiento o cumplimiento de una relación jurídica entre Novartis o Sandoz y usted como Titular; (iv) sea con base en los demás supuestos establecidos en el Artículo 37 de la Ley Federal de Datos Personales en Posesión de los Particulares o; (v) sea requerida para el reporte de eventos adversos.  

                        p Por otro lado, en caso de que usted decida participar en algún programa de pacientes y/o clínico, Novartis o Sandoz podrán transmitir sus datos de contacto a aquellos terceros que operen dichos programas fondeados por Novartis o Sandoz, en cuyo caso se le requerirá su consentimiento expreso con base en este documento.

                        h5 
                            b
                                |Derechos A.R.C.O. y su ejercicio:

                        p Usted, o su representante legal debidamente acreditado, podrá ejercer los derechos de Acceso, Rectificación, Cancelación u Oposición que la Ley prevé solicitándolo desde el correo que nos divulgó para tales efectos a:

                        ul
                            li
                                a(href="mailto:datos.personales@novartis.com") • datos.personales@novartis.com

                        p Para lo anterior, deberá indicar su nombre completo y especificar de forma clara y evidente el ejercicio de o los derechos que requiera. Lo anterior también podrá realizarlo presentando un escrito libre dirigido al oficial de protección de Datos Personales de Novartis y Sandoz y remitirlo a nuestras oficinas ubicadas en la dirección descrita en este documento.  En cualquier caso, usted deberá incluir copia de los documentos que acrediten su identidad como titular (identificación oficial con fotografía) y, en su caso, aquellos que acrediten legítimamente la representación legal del titular y, cualquier otro elemento o copia de documento que facilite la localización de sus Datos Personales al interior de Novartis o Sandoz.

                        p En el caso de solicitudes de Rectificación usted deberá indicar las modificaciones a realizarse y aportar las copias de la documentación adicional que sustente su petición.

                        p Una vez enviada o ingresada su solicitud, se le dará respuesta en un plazo no mayor a veinte días hábiles contados a partir de su recepción a la dirección de correo electrónico (cuando así lo especifique) o por medio de mensajería a la dirección que señale. Finalmente, es importante mencionar que el ejercicio de cualquiera de los derechos A.R.C.O. no es requisito previo ni impide el ejercicio de otro derecho, por lo que, en cualquier momento, usted podrá acudir al Instituto Nacional de Transparencia, Acceso a la Información y Protección de Datos Personales “INAI”.

                        h5
                            b
                                |Medios automáticos para recabar Datos Personales:

                        p Le informamos que al acceder a los sitios web y/o aplicaciones móviles, es posible que situemos en su dispositivo algunos medios de rastreo tales como “cookies” u otros, lo anterior permitirá a Novartis o Sandoz obtener datos estadísticos de dicho equipo, mejorar tanto la eficacia de sus sitios web y/o demás aplicaciones móviles, como la de sus actividades de mercadotecnia, promoción y comercialización. Se informa  además que, a través de las mencionadas tecnologías se podrán recabar de los usuarios los datos de navegación y dirección IP; adicional a lo anterior, en el caso de los usuarios que accedan a las plataformas, se podrán recabar datos referentes a su registro.

                        ul
                            li 
                                span 
                                    |• “Cookies”:
                                |Se define como un fragmento de información de programación contenida en un archivo de texto que se guarda en su navegador de Internet o en otros lugares de la memoria de su equipo. Usted puede administrar la aceptación de éstas directamente en las preferencias de su navegador, tomando en cuenta que, si decide bloquearlas, es posible que no pueda tener acceso al contenido de nuestros sitios.

                            li 
                                span
                                    |• “Web beacons”:
                                |En algunos casos, Novartis o Sandoz podrán utilizar tecnologías de seguimiento tales como “web beacons” para recabar datos sobre sus visitas en nuestros sitios web y demás aplicaciones móviles; similar a las “cookies”, éstas son imágenes electrónicas incluidas en nuestras páginas web o en correos electrónicos, normalmente no visibles, que nos permiten generarle contenidos personalizados con el objeto de ofrecerle una mejor experiencia de navegación e información cuando utilice nuestras plataformas digitales.

                        h5
                            b
                                |Modificaciones al Aviso de Privacidad:

                        p Este Aviso de Privacidad podrá ser modificado o actualizado con base en nuevos requerimientos legales; necesidades propias de Novartis o Sandoz o; por otras causas.

                        p Cualquier modificación al presente aviso de privacidad le podrá ser notificado través de cualquiera de los siguientes medios: un comunicado por escrito enviado a su domicilio, por correo electrónico o a su teléfono móvil; a través de periódicos de amplia circulación o; a través un mensaje dado a conocer a través de la página 
                            a(href="https://www.novartis.com.mx/" target="_blank") 
                                |https://www.novartis.com.mx/ 
                            |o 

                            a(href="" target="_blank")
                                |http://www.sandoz.com.mx/
                            |, según corresponda.


                        p 
                            b
                                |Fecha de actualización: 21 de enero de 2020.
                                br
                                |Declaro expresamente haber leído y comprendido este Aviso de Privacidad y otorgo mi consentimiento para el tratamiento de mis datos personales y personales sensibles en los términos y finalidades señalados en este documento.

                        p 
                            b
                                |(En caso de ser padre/tutor/representante legal)
                                br
                                |El que suscribe, en mi carácter de representante legal del beneficiario del programa/titular de los datos, declaro haber leído y comprendido este Aviso de Privacidad y manifiesto contar con la representación legal suficiente del titular de los datos personales y datos personales sensibles para consentir las finalidades del tratamiento señalados en el mismo.


        .modal.fade#terminosModal(tabindex='-1' role='dialog')
            .modal-dialog(role='document')
                .modal-content
                    .modal-header
                        button.close(type='button' data-dismiss='modal' aria-label='Close')
                            span(aria-hidden='true') ×
                    .modal-body

                        h4 
                            b 
                                |Campaña Digital “Cada Día Cuenta”
                        
                        p Términos y condiciones
                        a(href="www.espaciomigraña.mx" target="_blank") www.espaciomigraña.mx


                        p Hola, gracias por visitar este sitio web e interesarte en conocer más sobre esta causa. Por favor lee cuidadosamente los Términos y Condiciones contenidos en este documento, dado que cualquier uso de este sitio web constituye la aceptación de los mismos.

                        p 
                            span La Migraña es la sexta enfermedad más discapacitante del mundo,
                        | es por esto que creamos la campaña “Cada Día Cuenta”, un movimiento donde, con el apoyo de AMCEMIG, Top Doctors y Novartis Farmacéutica, S.A. de C.V. (en adelante denominada solo como Novartis), buscaremos unir fuerzas con la sociedad, médicos y pacientes en la lucha contra la Migraña.

                        p El propósito de esta campaña es generar conciencia social en torno a la migraña, al combatir la desinformación y ayudar a miles de pacientes que las padecen a encontrar la atención médica de calidad que necesitan. La campaña “Cada Día Cuenta” tendrá lugar del día 1ro de marzo al 31 de mayo del 2020.

                        h5 
                            b 
                                |Transparencia:

                        p A continuación, detallamos la participación y responsabilidades de cada uno de los colaboradores de esta campaña:

                        h5 
                            b 
                                |AMCEMIG
                        ul
                            li • Aval y participación en la campaña.
                            li • Apoyo en difusión de la convocatoria de participación en la campaña “Cada Día Cuenta” con sus médicos asociados.

                        h5 
                            b
                                |AMCEMIG

                        p Participación en la plataforma digital de 
                            span
                                |Top Doctors durante los meses de campaña.

                        h5
                            b
                                |Top Doctors

                        ul

                            li • Aval y participación en la campaña.
                            li • Apoyo con la tecnología de su plataforma para la agenda de citas médicas a pacientes que estén interesados en consultar a un especialista en Migraña.
                            li • Subir la información de los perfiles de los médicos participantes en la campaña, dentro de su portal, por el periodo de duración de la campaña “Cada Día Cuenta”.
                            li • Invitación a participar en la campaña a los médicos inscritos en su plataforma.
                            li • Confirmar las citas médicas a “público interesado” y “médicos participantes”.

                        h5
                            b
                                |Novartis:

                        ul

                            li • Gestión, desarrollo y difusión de la campaña “Cada Día Cuenta”.
                            li • Creación de contenido y manejo de redes sociales.
                            li • Desarrollo de plataforma digital y hosting.
                            li • Inversión

                        p La página web 
                            a(href="www.espaciomigraña.mx" target="_blank")
                                |www.espaciomigraña.mx
                            |es manejada y hosteada por Novartis Farmacéutica, S.A. de C.V., si tuvieras cualquier duda o problema con su funcionamiento, nos puedes contactar a: 
                            a(href="mailto:migraña@novartis.com") 
                                |migraña@novartis.com


                        h5
                            b
                                |Derechos de Propiedad Intelectual.

                        p 
                            i ® Marcas registradas de 
                                span 
                                    |®Espacio Migraña y Cada Día Cuenta. 
                                |Todos los derechos reservados. Todos los derechos de autor y otros derechos de propiedad intelectual en todos los textos, imágenes y otros materiales contenidos en este sitio web son propiedad de Novartis Farmacéutica, S.A. de C.V. o han sido incluidos con permiso y autorización del dueño relevante. Usted está autorizado a navegar por este sitio web, reproducir extractos por medio de impresiones, bajar información al disco duro o con el propósito de distribuir a otros individuos, siempre y cuando usted mantenga intacta la información y todos los avisos de Derechos de Autor y de propiedad industrial e intelectual que aparezcan en las reproducciones. Ninguna reproducción de cualquier parte del sitio web puede ser vendida o distribuida con fines de lucro comercial ni debe ser modificada o incorporada en cualquier otro trabajo, publicación o sitio web. Las marcas registradas, diseños, personajes, caracteres y marcas de servicio desplegados en este sitio web pertenecen a Marca parte de Novartis. Ningún contenido de este sitio web debe interpretarse como un otorgamiento de licencia de uso o derecho de uso de cualquier Trademark mostrado en este sitio web. Se encuentra prohibido cualquier uso o mal uso de los Trademarks mostrados en este sitio web, o en cualquier contenido del mismo, excepto los mencionados en los Términos y Condiciones. Usted está avisado de que Novartis Farmacéutica, S.A. de C.V. hará cumplir estrictamente sus derechos de propiedad industrial e intelectual según el máximo alcance de la ley.

                        h5 
                            b
                                |Enlaces a otros sitios Web.

                        p 
                            i Los enlaces en los sitios web 
                                a(href="www.espaciomigraña.mx" target="_blank") www.espaciomigraña.mx 
                            |de Novartis Farmacéutica, S.A. de C.V. pueden dirigirlo a sitios diferentes a “Novartis”, por lo cual “Novartis” no acepta responsabilidad alguna respecto del contenido, precisión o función del contenido de estos sitios web. Los enlaces son dados en buena fe y “Novartis” no puede asumir responsabilidad por cualquier cambio subsiguiente de los sitios web a los que damos un enlace. La inserción de cualquier enlace a otros sitios web no implica que sea avalado por “Novartis”. Te recomendamos que estés consciente y seas cuidadoso en leer todos los avisos legales y de privacidad de los sitios web que visites.

                        h5
                            b
                                |Modificaciones.

                        p 
                            i Novartis podrá modificar y actualizar los Términos y Condiciones contenidos en este documento en cualquier momento. La utilización del sitio web 
                                a(href="www.espaciomigraña.mx" target="_blank") www.espaciomigraña.mx 
                            |por parte de cualquier usuario, luego de producida la modificación de dichas condiciones, indicará su aceptación de éstas. Novartis a su exclusiva discreción, podrá modificar, complementar, eliminar o actualizar todos los aspectos del sitio web referido, sin necesidad de notificación alguna. 

                        p 
                            i 
                                span Agrademos el apoyo de  nuestros aliados para el desarrollo de esta campaña.

